header{
    padding: 20px 0;
}
.search{
    display: inline-block;
    height: 30px;
    width: 430px;
    border: 1px solid #e1e1e1;

    &__button{
        height: 20px;
        width: 20px;
        margin: 4px 4px 4px auto;
    }
}
.bascket{
    display: inline-block;
}