.menu{
    background: $green;
    padding: 10px;
}

.menu-text{
    margin: 0 10px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 21px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: color .3s;

    &:hover{
        color: #dbdbdb;
    }

    @include point(ms-down){
        display: none;
    }

    &-small{
        margin: 0 10px;
        padding: 0 20px;
        text-transform: uppercase;
        color: #fff;
        font-size: 21px;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        transition: color .3s;

        @include point(ms-up){
            display: none;
        }
    }
}